$font:montserrat;
$comon:20px;


.main-body{
    position: sticky;
    margin: auto;
    max-width:1440px;
    padding: 32px 64px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    .navbar{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navbar-heading{
            font-family: $font;
            font-weight: 600;
            font-size: 24;
            line-height: 32px;
            margin: 0%;
        }
        .btn-primary{
            font-family: $font;
            background-color:#0C39C7;
            width: 143px;
            height: 40px;
            border-radius: 5px;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 14px;
            line-height: 20px;

        }
    }
    hr{
        width: 100%;
        border: 1px solid;
        background-color: #D0D5DD;
        margin: 0%;
    }
    .main-search{
        width: 100%;
        display: flex;
        justify-content: space-between;
    align-items: center;
        .search-bar{
            width: 578px;
            border-radius: 8px;
            border: 1px solid;
            padding: 10px 14px;
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 44px;
            .form-control{
                padding: 0%;
                border: 0px;
                height: auto;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: #495057;
            }
            img{
                margin: 12px;
            }
        }
        .dropdown-area{
            max-width: 223px;
            display: flex;
            .sort-by{
                align-self: center;
                width: 59px;
                font-family: $font;
                font-weight: 600;
                font-size: 14px;
                line-height: 17.07px;
                margin: 0%;
            }
        }
    }
    .added-main{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .task_heading{
            width: 300px;
            height: 22px;
            font-family: $font;
            font-weight: 600;
            font-size: 18px;
            line-height: 21.94px;
            margin: 0%;
        }
        .task_listing-page{
            display: flex;
            flex-direction: column;
            gap: 21px;
            .task-x{
                border-radius: 8px;
                border: 1px solid;
                justify-content: space-between;
                padding: 24px;
                .inner-taskspace{
                    display: grid;
                    grid-template-columns: 46px 1fr;
                    .custom-checkbox-container {
                        .custom-checkbox {
                            display: block;
                        }
                    
                        // .custom-checkbox-label {
                        //     display: inline-block;
                        //     width: 32px;
                        //     height: 32px;
                        //     background-image: url(images/Ellipse\ 11.svg);
                        //     background-size: cover;
                        //     cursor: pointer;
                        //     position: relative;
                        //     margin: 0%;
                        // }
                    
                        // .custom-checkbox:checked + .custom-checkbox-label {
                        //     background-image: url(images/Group\ 1546.svg);
                        // }
                    }
                    .task-card{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 12px;
                        .task-header{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .name-tik{
                                max-width: 280px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .task-name{
                                    font-family: $font;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 21.94px;
                                    margin: 0%;
                                }
                                .span-green{
                                    background-color: #05eb4a;
                                    width: 11px;
                                    height: 11px;
                                    border-radius: 50%;
                                }
                                .span-yellow{
                                    width: 11px;
                                    height: 11px;
                                    border-radius: 50%;
                                    background-color: #EBB705;
                                }
                            }
                            .edit-delete{
                                width: 68px;
                                height: 28px;
                                display: flex;
                                justify-content: space-between;
                            }
                            }
                        }
                        .task-paragraph{
                            font-family: $font;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0%;
                            color: #475467;
                        }
                        .col-date{
                            max-width: 137px;
                            height: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        
                            .by-date{
                                font-family: $font;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17.07px;
                                margin: 0%;
                                color:#667085;
                            }
                        }
                
                            .past-due{
                                max-width: 137px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                background-color: #C035030F;
                            
                                .by-date{
                                    font-family: $font;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17.07px;
                                    margin: 0%;
                                    color:#C03503;
                                }
                            }
                    }
                }
            }
        }
        .complete-main{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        .task_heading{
            width: 300px;
            height: 22px;
            font-family: $font;
            font-weight: 600;
            font-size: 18px;
            line-height: 21.94px;
            margin: 0%;
        }
        .complete_listing-page{
            display: flex;
            flex-direction: column;
            gap: 21px;
            .task-x{
                border-radius: 8px;
                border: 1px solid;
                justify-content: space-between;
                padding: 24px;
                .inner-taskspace{
                    display: grid;
                    grid-template-columns: 46px 1fr;
                    .custom-checkbox-container {
                        .custom-checkbox {
                            display: block;
                        }
                    
                        // .custom-checkbox-label {
                        //     display: inline-block;
                        //     width: 32px;
                        //     height: 32px;
                        //     background-image: url(images/Ellipse\ 11.svg);
                        //     background-size: cover;
                        //     cursor: pointer;
                        //     position: relative;
                        //     margin: 0%;
                        // }
                    
                        // .custom-checkbox:checked + .custom-checkbox-label {
                        //     background-image: url(images/Group\ 1546.svg);
                        // }
                    }
                    .task-card{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: start;
                        justify-content: center;
                        gap: 12px;
                        .task-header{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            .name-tik{
                                max-width: 280px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                .task-name{
                                    font-family: $font;
                                    font-weight: 600;
                                    font-size: 18px;
                                    line-height: 21.94px;
                                    margin: 0%;
                                }
                                .span-green{
                                    background-color: #05eb4a;
                                    width: 11px;
                                    height: 11px;
                                    border-radius: 50%;
                                }
                                .span-yellow{
                                    width: 11px;
                                    height: 11px;
                                    border-radius: 50%;
                                    background-color: #EBB705;
                                }
                            }
                            .edit-delete{
                                width: 68px;
                                height: 28px;
                                display: flex;
                                justify-content: space-between;
                            }
                            }
                        }
                        .task-paragraph{
                            font-family: $font;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            margin: 0%;
                            color: #475467;
                        }
                        .col-date{
                            max-width: 137px;
                            height: 24px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        
                            .by-date{
                                font-family: $font;
                                font-weight: 600;
                                font-size: 14px;
                                line-height: 17.07px;
                                margin: 0%;
                                color:#667085;
                            }
                        }
                
                            .past-due{
                                max-width: 137px;
                                height: 24px;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                background-color: #C035030F;
                            
                                .by-date{
                                    font-family: $font;
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 17.07px;
                                    margin: 0%;
                                    color:#C03503;
                                }
                            }
                    }
                }
            }
        }
}

.add-task{
    margin-left: 409px;
    width: 654px;
    height: 591px;
    border-radius: 12px;
    border: 1px solid;
    padding: 40px;
    gap: 24px;
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white;
    z-index: 10;
    .add-task-head{
        width: 100%;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .add-task-heading{
            font-family: $font;
            font-size: 20px;
            font-weight: 600;
            line-height: 24.38px;
            margin: 0%;
            color: #09174A;
        }
    }
    hr{
        width: 100%;
        border: 1px solid;
        background-color: #D0D5DD;
        margin: 0%;
    }
    .add-task-content{
        width: 576px;
        height: 431px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        .add-task-content-title{
            width: 576px;
            height: 71px;
            gap: 6px;
            display: flex;
            flex-direction: column;
            .add-task-content-heading{
                font-family: $font;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.5px;
                margin: 0%;
                color: #282829;
            }
            .add-task-content-head{
                width: 576px;
                height: 45px;
                border-radius: 8px;
                border: 1px solid;
                padding: 14px 16px;
                background-color:#D0D5DD;
            }
        }
        .add-task-content-description{
            width: 576px;
            height: 134px;
            gap: 6px;
            display: flex;
            flex-direction: column;
            .add-task-content-description1{
                font-family: $font;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.5px;
                margin: 0%;
                color: #282829;
            }
            .add-task-content-testarea{
                width: 576px;
                height: 108px;
                border-radius: 8px;
                border: 1px solid;
                padding: 14px 16px;
                background-color:#D0D5DD;
            }
        }
        .add-task-content-date{
            width: 576px;
            height: 78px;
            gap: 6px;
            display: flex;
            flex-direction: column;
            .add-task-content-date1{
                font-family: $font;
                font-size: 16px;
                font-weight: 500;
                line-height: 19.5px;
                margin: 0%;
                color: #282829;
            }
            .add-task-content-date-input{
                width: 576px;
                height: 52px;
                border-radius: 8px;
                border: 1px solid;
                padding: 14px 16px;
                background-color:#D0D5DD;
            }
        }
        hr{
            width: 100%;
            border: 1px solid;
            background-color: #D0D5DD;
            margin: 0%;
        }
        .add-task-footer{
            width: 576px;
            height: 78px;
            gap: 6px;
            display: flex;
            justify-content: end;
            .btn1{
                width: 96px;
                height: 40px;
                border-radius: 8px;
                border: 1px solid;
                padding: 10px 20px;
                background-color: #FFFFFF;
                font-family: $font;
                font-weight: 500;
                font-size: 16px;
                line-height: 19.5px;
                border-color: #D0D5DD;

            }
            .btn2{
                width: 96px;
                height: 40px;
                border-radius: 8px;
                border: 1px solid;
                padding: 10px 20px;
                background-color: #0C39C7;
                font-family: $font;
                font-weight: 500;
                font-size: 16px;
                line-height: 19.5px;
                color: white;
            }
            
        }

    
        
    }
    
}
.delete1{
    margin-top: 272px;
    margin-left: 393px;
    width: 654px;
    height: 237px;
    border-radius: 12px;
    border: 1px solid;
    position: absolute;
    background-color: white;
    display: none;
    z-index: 10;
.task-delete{
    width: 654px;
    height: 237px;
    border-radius: 12px;
    border: 1px solid;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: white;
    .task-delete-head{
        font-family: $font;
        font-weight: 600;
        font-size: 18px;
        line-height: 21.94px;
        margin: 0%;
    }
    .task-delete-content-heading{
        font-family: $font;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.5px;
        margin: 0%;
    }
    .task-delete-footer{
        width: 574px;
        height: 40px;
        display: flex;
        justify-content: center;
        gap: 12px;
        .btn11{
            width: 96px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid;
            padding: 10px 20px;
            background-color: #FFFFFF;
            font-family: $font;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.5px;
            border-color: #D0D5DD;
        }
        .btn21{
            width: 96px;
            height: 40px;
            border-radius: 8px;
            border: 1px solid;
            padding: 10px 20px;
            background-color:#C0070B;
            font-family: $font;
            font-weight: 500;
            font-size: 16px;
            line-height: 19.5px;
            color: white;
        }
    }


}
}
